<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">

    <title>Boggle</title>

</head>
<body>
    <div class="gameContainer">
        <div class="gameboard">
        {% for row in session['game_board'] %}
        <table >
            <tr>
            {% for column in row %}
                <td>{{column}}</td>
            {% endfor %}
            </tr>
        </table>
        {% endfor %}
        </div>

        <form action="">
            <h3>Submit a word!</h3>
            <input type="text" >
            <button>Submit!</button>
        </form>
        <h1>{{word}}</h1>
        <div class="results"></div>

    </div>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src=static/app.js></script>
</body>
</html>