<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">

    <title>Boggle</title>

</head>
<body>
    <div class="gameContainer">
        <div class="gameboard">
        {% for row in board %}
        <table >
            <tr>
            {% for column in row %}
                <td>{{column}}</td>
            {% endfor %}
            </tr>
        </table>
        {% endfor %}
        </div>

        <form action="">
            <h2>Submit a word!</h2>
            <input type="text" name="answer">
            <button>Submit!</button>
        </form>
    </div>

<script></script>

</body>
</html>